<h2>Followers User</h2>

<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
<!--% @user.followed.each do |user| %>-->
<tr>
   <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
   <td>  <%= user.name %> </td>
   <td><%= "フォロー数: #{user.follower.count}" %></td>
   <td><%= "フォロワー数: #{user.followed.count}" %></td>
   <td><%= link_to 'show', user_path(user) %></td>
</tr>

</tbody>
</table>
